table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.thumbnail{
    height: 60px;
    width: 100px;
    overflow: hidden;
}
.thumbnail img{
    width:100%;
}